.box {
	display: grid;
	align-items: center;
	justify-content: center;
	gap: 3rem;

	margin-block: 3rem;
	padding-inline: 3rem;
}

.img {
	border-radius: var(--border-radius);
	object-fit: cover;
}

.link:hover {
	color: var(--unic-color);
}

@media (width > 728px) {
	.form_box {
		grid-template-columns: 1fr 1fr;
	}
	.opinion {
		grid-template-columns: auto 1fr;
	}
}